
<% include partials/header %>
<div class="container">
  <h1>campgrounds:</h1>
      <% campgrounds.forEach(function(campground){ %>
          <h2><%=campground["name"]%></h2>
           <img class="img-thumbnail" src="<%=campground["image"]%>"width="300px;"height="auto";>
          <% }); %>

</div>
<% include partials/footer %> 