
<% include partials/header %> 
<div class="jumbotran">
  <div class="container">
      <h1 class="p-3">Welcome to yelp-camp </h1>
      <a href="/campgrounds" class="m-5">view all campgrounds</a>
  </div>
</div>


<% include partials/footer %> 