<% include partials/header %>


<div class="container">
    <h1>Create a New CampGround</h1>
  <div class="m-5">
      <form action="/campgrounds" method="POST">
       Name:<input type="text" name ="name"><br><br><br>
        Image:<input type="text" name ="image"><br><br><br>
        <input type="submit">
     </form>
  </div>
  </div>
  



<% include partials/footer %> 