<% include partials/header %>
<div class="container">
     <div class="m-2">
          <img  src="<%=campgrounds.image%>" width="500px" height="300px;">
      </div>
     <div class="m-2">
        <strong><%=campgrounds.name%></strong>
     </div>
    <div class="m-2">
        <p><%=campgrounds.description %></p>
    </div>
    <div class="p-3">
      <a  class="btn btn-outline-dark" href="/campgrounds">
        Back
      </a>
   </div>
 </div>

  