
<% include ../partials/header %>
<div class="container ">
<div class="jumbotron">
  <div class="text-left">
      <h1>All campgrounds</h1>
      <p>Our best campgrounds from all over the world</p>
     <p><a class="btn btn-info" href="/campgrounds/new">Add a new campground</a></p>
  </div>
</div>
<div class="container">
    <div class="row">
     <% campgrounds.forEach(function(campground){ %>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <img class="img-thumbnail" src="<%=campground["image"]%>" width="300px" height="250px">
        <div class="text-center p-1">
            <h3><%=campground["name"]%></h3>
        </div>
        <div class="text-center p-1">
            <a class="btn btn-primary" href="/campgrounds/<%=campground._id %>">More info</a>
        </div>
        </div>
     </div>
     <% }); %>
    </div>
    </div>
 </div>
</div>

